@model List<Departamento>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
        Menú Departamentos
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        @foreach (Departamento dep in Model)
        {
                <li>
                    <a class="dropdown-item"
               asp-controller="Hospitales"
               asp-action="Detalles"
               asp-route-iddepartamento="@dep.IdDepartamento">
                    @dep.NombreDept
                    </a>
                </li>
        }
    </ul>
</div>